:root {
    --primario: #535c68;
    --secundario: #ff3838;
    --terciario: #f0932b;
}
span a {
    text-decoration: none;
    color: var(--terciario);
}
img {
    width: 100%;
}
ul {
    padding: 0;
    list-style: none;
    text-align: center;
}
span {
    color: var(--terciario);
}
.hero {
    background-image: url(../img/persona-que-muestra-probador-fibra-optica.jpg);
    background-position: center center;
    background-size: cover;
    height: 25vh;
    min-height: 70vh;
}
.logotipo-principal {
    max-width: 600px;
}
.clientes {
    background-color: rgb(0, 173, 239);
}
.site-footer {
    background-color: var(--primario);
    box-shadow: 2px 2px 5px black;
    position: absolute;
    padding: 10px 0;
    width: 100%;
}
.servicios img {
    height: 450px;
}
.contenido-obra-civil {
    background-color: rgb(0, 173, 239);
}
.productos img {
    height: 250px;
}
/** Productos **/ /*acomodar un poco, simplificar*/
.contenedor-items {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.card {
    width: 100%;
    border: .1rem solid #b5b5b5;
    /* background-color: #F5F5F5; */
    margin-bottom: 2rem;
}
.card img {
    height: 250px;
}
.card:hover {
    box-shadow: 2px 2px 5px black;
}
.card-body {
    text-transform: uppercase;
}
@media screen and (min-width: 768px) {
    .contenedor-items {
        justify-content: space-between;
        flex-direction: row;
    }
}