<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inversiones Vielma</title>
    <%- include ('partials/links.ejs')%>
<body>
    <%- include ('partials/header.ejs')%>

    <main class="container mt-4 mb-4">
        <h1>Contacto</h1>
        <p>Direccion: <br><i class="fas fa-map-marker-alt"></i> Av Francisco Javier Uztaris, Local  Nro 1, Sector Sanbernardino, Caracas Distrito Capital, Zona Postal 1010</p>
        <p>Correo electronico:<br><i class="far fa-envelope"></i> invers.vielma2020@gmail.com</p>
        <div>Numeros de telefono:
            <ul class="text-left">
                <li><i class="fab fa-whatsapp" style="color: green;"></i> 58+ 0416-7284021</li>
                <li><i class="fas fa-phone-square-alt"></i></i> 58+ 0412-9906491</li>
            </ul>
        </div>
        <div>Redes sociales:
            <ul class="text-left">
                <li><i class="fab fa-facebook"></i> Inversiones Vielma 2020</li>
            </ul>
        </div>

        <form action="/submit" method="POST">
            <div class="form-row align-items-center">
                <div class="col-auto">
                  <label for="inlineFormInput">Nombre</label>
                  <input type="text" class="form-control mb-3" name="name" placeholder="Jane Doe">
                </div>
                <div class="col-auto">
                    <label for="exampleFormControlInput1">Correo</label>
                    <input type="email" class="form-control mb-3" name="mail" placeholder="name@example.com">
                </div>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Comentario</label>
                <textarea class="form-control" name="comment" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </main>

    <%- include ('partials/footer.ejs')%>

    <%- include ('partials/scripts.ejs')%>
</body>
</html>