<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inversiones Vielma</title>
    <%- include ('partials/links.ejs')%>
<body>
    <%- include ('partials/header.ejs')%>

    <main class="container mt-4 mb-4">
        <h1>Contacto</h1>
        <p>Direccion: <br><i class="fas fa-map-marker-alt"></i> Av Francisco Javier Uztaris, Local  Nro 1, Sector Sanbernardino, Caracas Distrito Capital, Zona Postal 1010</p>
        <p>Correo electronico:<br><i class="far fa-envelope"></i> invers.vielma2020@gmail.com</p>
        <div>Numeros de telefono:
            <ul class="text-left">
                <li><i class="fab fa-whatsapp" style="color: green;"></i> 58+ 0416-7284021</li>
                <li><i class="fas fa-phone-square-alt"></i></i> 58+ 0412-9906491</li>
            </ul>
        </div>
        <div>Redes sociales:
            <ul class="text-left">
                <li><i class="fab fa-facebook"></i> Inversiones Vielma 2020</li>
            </ul>
        </div>

        <form action="/submit" method="POST">
            <div class="form-row align-items-center">
                <div class="col-auto">
                  <label for="inlineFormInput">Nombre</label>
                  <input type="text" class="form-control mb-3" name="name" placeholder="Jane Doe">
                </div>
                <div class="col-auto">
                    <label for="exampleFormControlInput1">Correo</label>
                    <input type="email" class="form-control mb-3" name="mail" placeholder="name@example.com">
                </div>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Comentario</label>
                <textarea class="form-control" name="comment" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </main>

    <%- include ('partials/footer.ejs')%>

    <%- include ('partials/scripts.ejs')%>
</body>
</html>

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGOTIPO</title>
    <script src="https://kit.fontawesome.com/74bc627f90.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/normalize.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Oswald:wght@200;300;400;500;600;700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/app.css">
</head>
<body>
    <div class="hero">
        <div class="contenedor-hero">
            <img class="logotipo-principal" src="img/logotipoBlanco.svg" alt="logotipo">
        </div>
    </div>

    <div class="barra-navegacion clearfix">
        <div class="contenedor">
            <a href="index.html"><img class="logotipo" src="img/LogoTipo.svg" alt="logotipo"></a>
            <nav class="navegacion-principal">
                <a href="index.html">Inicio</a>
                <a href="servicios.html">Servicios</a>
                <a href="productos.html">Productos</a>
                <a href="nosotros.html"> Mas de nosotros </a>
                <a href="contacto.html"> Contactenos </a>
            </nav>
        </div>
    </div>

    <main class="contenedor seccion contacto">
        <h1>Contacto</h1>
        <p><i class="fas fa-map-marker-alt"></i> San bernardino, ....</p>
        <p></p><i class="far fa-envelope"></i> investments.vielma@gmail.com</p>
        <p>Numeros de telefono:
            <ul>
                <li><i class="fab fa-whatsapp" style="color: green;"></i> 58+ 04167284021</li>
                <li><i class="fas fa-phone-square-alt"></i></i> 58+ 04129906491</li>
            </ul>
        </p>
        <p>Redes sociales <i class="fab fa-facebook"></i></p>
        
        <form action="envia.php" method="post" class="form-consulta"> 
            <label>Nombre y apellido: <span>*</span>
                <input type="text" name="nombre" placeholder="Nombre y apellido" class="campo-form" required>
            </label>
            
            <label>Email: <span>*</span>
                <input type="email" name="email" placeholder="Email" class="campo-form" required>
            </label>
            
            <label>Consulta:
                <textarea name="consulta" class="campo-form"></textarea>
            </label>

            <input type="submit" value="Enviar" class="btn-form">
        </form>
        
    </main>

    <footer class="site-footer">
        <div class="contenedor-footer contenedor">
            <p class="copyright">&copy; 2020 <span>Inversiones Vielma 2020</span>. Todos los derechos reservados </p>
        </div>
    </footer>
</body>
</html> -->