<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inversiones Vielma</title>
    <%- include ('partials/links.ejs')%>
</head>
<body>
    <%- include ('partials/header.ejs')%>

    <section class="somos">

        <div class="container mt-5 mb-5 text-center">
            <h2>Inversiones Vielma</h2> es una compañía de construcción dedicada principalmente a la obra civil en el área de telecomunicaciones y su instalacion, desde el zanjado para la implementación del subducto hasta la fusión del path cord en el ODF. También somos proveedores de materiales de telecomunicaciones
            </p>
            <h3>Telecomunicaciones</h3>
            <div class="lista-especificaciones">
                <ul>
                    <li>Obra Civil Para Implementacion de Fibra</li>
                    <li>Instalaciones de fibra de planta externa e interna</li>
                    <li>Fusion de fibra optica</li>
                </ul>
            </div>
            <div class="text-center">
                <a href="/servicios" class="btn btn-primary">Ver Mas</a>
            </div>
        </div>
    </section>

    <section class="clientes">
        <div class="container pt-5 pb-5 text-center">
            <h2>Clientes</h2>
            <div class="lista-clientes">
                <ul>
                    <li>Link Network</li>
                    <li>Grupo Starup</li>
                    <li>Top Comunicarion</li>
                    <li>Policlinica Metropolitana</li>
                    <li>Chircalnet Telecom</li>
                    <li>MPC TRUSTT INTERNATIONAL</li>
                    <li>TELCORP</li>
                    <li>JWZ Global Red</li>
                    <li>SMART CALL 811</li>
                    <li>DCN Network</li>
                </ul>
            </div>
            <div class="text-center">
                <a href="/nosotros" class="btn btn-primary">Ver Mas</a>
            </div>
        </div>
    </section>
 
    <section class="productos">
        <div class="container mt-5 mb-5 text-center">
            <h2 class="center">Productos</h2>
            <div class="lista-productos center contenedor">
                <ul>
                    <li>Patch Cords</li>
                    <li>ODFs</li>
                    <li>Fibra Optica planta interna y externa</li>
                </ul>
            </div>
            <div class="text-center">
                <a href="productos" class="btn btn-primary">Ver Mas</a>
            </div>
        </div>
    </section>

    <%- include ('partials/footer.ejs')%>

    <%- include ('partials/scripts.ejs')%>
</body>
</html>