<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inversiones Vielma</title>
    <%- include ('partials/links.ejs')%>
</head>
<body>
    <%- include ('partials/header.ejs')%>

    <main class="container mt-4 pb-4 nosotros">
        <h1>Sobre nosotros</h1>
        <p>Nosotros <span>Inversiones Vielma 2020</span> somos un empresa dedicada a obras dedicada a obras civil y parte tecnica de telecomunicaciones,
        contamos con todos los equipos necesarios para realizar un trabajo de alta calidad en un tiempo optimo. Cualquier dificultad que tenga debido a 
        la infraestrutura del lugar la podemos solucionar</p>
    </main>

    <section class="clientes pt-4 pb-4 text-center">
        <div class="container">
            <h2>Clientes</h2>
            <p>Le hemos trabajado a los siguientes clientes</p>
            <ul>
                <li>Link Network</li>
                <li>Grupo Starup</li>
                <li>Top Comunicarion</li>
                <li>Policlinica Metropolitana</li>
                <li>Chircalnet Telecom</li>
                <li>MPC TRUSTT INTERNATIONAL</li>
                <li>TELCORP</li>
                <li>JWZ Global Red</li>
                <li>SMART CALL 811</li>
                <li>DCN Network</li>
            </ul>
        </div>
    </section>

    <section class="equipos mt-4 mb-4 text-center">
        <div class="container">
            <h2>Equipos</h2>
            <ul>
                <li>Fusionadora Fujikura</li>
                <li>OTR</li>
                <li>Power Meter</li>
            </ul>
        </div>
    </section>

    <%- include ('partials/footer.ejs')%>

    <%- include ('partials/scripts.ejs')%>
</body>
</html>
