<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inversiones Vielma</title>
    <%- include ('partials/links.ejs')%>
</head>
<body>
    <%- include ('partials/header.ejs')%>

    <main class="container mt-4 mb-4">
        <h1>Productos</h1>
        <p>Para solicitar una cotizacion escribanos a los <span><a href="contacto" class="enlaces-redirecionales">numeros de contacto y correo</a></span></p>
        <div class="contenedor-items">
            <div class="card" style="width: 18rem;">
                <img src="https://i.ibb.co/QMvZ4bD/manga-de-empalme.jpg" alt="manga-de-empalme">
                <div class="card-body">
                    <h5 class="card-title">Manga de Empalme de Fibra Optica</h3>
                    <p class="card-text">Precio: <span class="precio">80$</span></p>
                </div>
            </div>
            <div class="card" style="width: 18rem;"> 
                <img src="https://i.ibb.co/ns77XCk/patch-cord-lc-to-lc.jpg" alt="patch-cord-lc-to-lc">
                <div class="card-body">
                    <h5 class="card-title">Patch Cord LC/LC Duplex</h3>
                    <p class="card-text">Precio: <span class="precio">7$</span></p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">  
                <img src="https://i.ibb.co/4KRJXyL/poe-adapter.jpg" alt="poe-adapter">
                <div class="card-body">
                    <h5 class="card-title">Ubiquiti Poe 24-7w-g-wh Gigabit 24v 0.3a</h3>
                    <p class="card-text">Precio: <span class="precio">14$</span></p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">  
                <img src="https://i.ibb.co/5WtgTQz/pigtail-st.jpg" alt="pigtail-st">
                <div class="card-body">
                    <h5 class="card-title">Pigatil ST</h3>
                    <p class="card-text">Precio: <span class="precio">7$</span></p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="https://i.ibb.co/vsQDWcJ/optical-splitter-1x16-sc.jpg" alt="optical-splitter-1x16-sc">
                <div class="card-body">
                    <h5 class="card-title">Optical Splitter 1x16 SC</h3>
                    <p class="card-text">Precio: <span class="precio">20$</span></p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">  
                <img src="https://i.ibb.co/dtGnX2J/optical-splitter-1x4-sc.jpg" alt="optical-splitter-1x4-sc">
                <div class="card-body">
                    <h5 class="card-title">Optical Splitter 1x4 SC</h3>
                    <p class="card-text">Precio: <span class="precio">x$</span></p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="https://i.ibb.co/MyTxfGw/optical-line-terminal-ufiber.jpg" alt="optical-line-terminal-ufiber">
                <div class="card-body">
                    <h5 class="card-title">4-Port GPON Optical Line Terminal with SFP+</h3>
                    <p class="card-text">Precio: <span class="precio">x$</span></p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="https://i.ibb.co/PQWyWGF/fiber-cleaner.jpg" alt="fiber-cleaner">
                <div class="card-body">
                    <h5 class="card-title">Fiber Optic Cleaner</h3>
                    <p class="card-text">Precio: <span class="precio">27$</span></p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="https://i.ibb.co/tZT0rKy/cortador-fibra.jpg" alt="cortador-fibra">
                <div class="card-body">
                    <h5 class="card-title">Fiber Optic Stripper</h3>
                    <p class="card-text">Precio: <span class="precio">23$</span></p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="https://i.ibb.co/4pCFVmM/conectores.jpg" alt="conectores">
                <div class="card-body">
                    <h5 class="card-title">Ubiquiti U Fiber Simgle-Mode SFP UF-GP-C+</h3>
                    <p class="card-text">Precio: <span class="precio">163$</span></p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="https://i.ibb.co/9wM6Jcz/cortador-cable-fibra.jpg" alt="cortador-cable-fibra">
                <div class="card-body">
                    <h5 class="card-title">Optical Fiber Stripper For Drop Cable</h3>
                    <p class="card-text">Precio: <span class="precio">x$</span></p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="https://i.ibb.co/znqL87G/terminal-fiber.jpg" alt="terminal-fiber">
                <div class="card-body">
                    <h5 class="card-title">Fiber Optcial Terminal Box</h3>
                    <p class="card-text">Precio: <span class="precio">x$</span></p>
                </div>
            </div>
            <div class="card" style="width: 18rem;"> 
                <img src="https://i.ibb.co/ZSP9SWr/splitter-1x16-sc.jpg" alt="splitter-1x16-sc">
                <div class="card-body">
                    <h5 class="card-title">Patch Cord LC/LC Duplex</h3>
                    <p class="card-text">Precio: <span class="precio">20$</span></p>
                </div>
            </div>
            <div class="card" style="width: 18rem;"> 
                <img src="https://i.ibb.co/mNqgp66/pigtail-sc-simplex.jpg" alt="pigtail-sc-simplex">
                <div class="card-body">
                    <h5 class="card-title">Pigtail SC Simplex</h3>
                    <p class="card-text">Precio: <span class="precio">x$</span></p>
                </div>
            </div>
            <div class="card" style="width: 18rem;"> 
                <img src="https://i.ibb.co/wy5Tgrh/adaptador-fibra-sc-simplex.jpg" alt="adaptador-fibra-sc-simplex">
                <div class="card-body">
                    <h5 class="card-title">Adapter Fiber SC/SC</h3>
                    <p class="card-text">Precio: <span class="precio">1$</span></p>
                </div>
            </div>
            <div class="card" style="width: 18rem;"> 
                <img src="https://i.ibb.co/PcRZGn9/patch-cord-sc-to-sc-duplex.jpg" alt="patch-cord-sc-to-sc-duplex">
                <div class="card-body">
                    <h5 class="card-title">Adapter Fiber Optic SC/SC Simplex</h3>
                    <p class="card-text">Precio: <span class="precio">20$</span></p>
                </div>
            </div>
        </div>
    </main>
    
    <%- include ('partials/footer.ejs')%>

    <%- include ('partials/scripts.ejs')%>
</body>
</html>