<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inversiones Vielma</title>
    <%- include ('partials/links.ejs')%>
</head>
<body>
    <%- include ('partials/header.ejs')%>

    <main class="container">
        <h1>Productos</h1>
        <p>Para solicitar una cotizacion escribanos a los <span><a href="contacto.html" class="enlaces-redirecionales">numeros de contacto y correo</a></span></p>
        <div class="contenedor-items">
            <div class="card" style="width: 18rem;">
                <img src="img/productos/patch-cord-sc-to-sc-duplex.jpg" alt="">
                <div class="card-body">
                    <h5 class="card-title">Patch Cord SC/SC Duplex</h3>
                    <p class="card-text">Precio: <span>20$</span></p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">  
                <img src="img/productos/patch-cord-sc-to-sc-simplex.jpg" alt="">
                <div class="card-body">
                    <h5 class="card-title">Patch Cord SC/SC Simplex</h3>
                    <p class="card-text">Precio: <span>20$</span></p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">  
                <img src="img/productos/patch-cord-lc-to-lc-duplex.jpg" alt="">
                <div class="card-body">
                    <h5 class="card-title">Patch Cord LC/LC Duplex</h3>
                    <p class="card-text">Precio: <span>20$</span></p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">  
                <img src="img/productos/patch-cord-lc-to-lc-simplex.jpg" alt="">
                <div class="card-body">
                    <h5 class="card-title">Patch Cord LC/LC Simplex</h3>
                    <p class="card-text">Precio: <span>20$</span></p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="img/productos/patch-cord-st-to-st-duplex.jpg" alt="">
                <div class="card-body">
                    <h5 class="card-title">Patch Cord ST/ST Duplex</h3>
                    <p class="card-text">Precio: <span>20$</span></p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">  
                <img src="img/productos/patch-cord-st-to-st-simplex.jpg" alt="">
                <div class="card-body">
                    <h5 class="card-title">Patch Cord ST/ST Simplex</h3>
                    <p class="card-text">Precio: <span>20$</span></p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="img/productos/patch-cord-sc-to-lc-duplex.jpg" alt="">
                <div class="card-body">
                    <h5 class="card-title">Patch Cord SC/LC Duplex</h3>
                    <p class="card-text">Precio: <span>20$</span></p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="img/productos/patch-cord-sc-to-lc-simplex.jpg" alt="">
                <div class="card-body">
                    <h5 class="card-title">Patch Cord SC/LC Simplex</h3>
                    <p class="card-text">Precio: <span>20$</span></p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="img/productos/patch-cord-sc-to-st-duplex.jpg" alt="">
                <div class="card-body">
                    <h5 class="card-title">Patch Cord SC/ST Duplex</h3>
                    <p class="card-text">Precio: <span>20$</span></p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="img/productos/patch-cord-sc-to-st-simplex.jpg" alt="">
                <div class="card-body">
                    <h5 class="card-title">Patch Cord SC/ST Simplex</h3>
                    <p class="card-text">Precio: <span>20$</span></p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="img/productos/patch-cord-lc-to-st-duplex.jpg" alt="">
                <div class="card-body">
                    <h5 class="card-title">Patch Cord LC/ST Duplex</h3>
                    <p class="card-text">Precio: <span>20$</span></p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="img/productos/patch-cord-lc-to-st-simplex.jpg" alt="">
                <div class="card-body">
                    <h5 class="card-title">Patch Cord LC/ST Simplex</h3>
                    <p class="card-text">Precio: <span>20$</span></p>
                </div>
            </div>
        </div>
    </main>
    
    <%- include ('partials/footer.ejs')%>

    <%- include ('partials/scripts.ejs')%>
</body>
</html>
<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/normalize.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Oswald:wght@200;300;400;500;600;700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/app.css">
    <title>Productos</title>
</head>
<body>
    <div class="hero">
        <div class="contenedor-hero">
            <a href="index.html"><img class="logotipo-principal" src="img/logotipoBlanco.svg" alt="logotipo"></a>
        </div>
    </div>

    <div class="barra-navegacion clearfix">
        <div class="contenedor">
            <a href="index.html"><img class="logotipo" src="img/LogoTipo.svg" alt="logotipo"></a>
            <nav class="navegacion-principal">
                <a href="index.html">Inicio</a>
                <a href="servicios.html">Servicios</a>
                <a href="productos.html">Productos</a>
                <a href="nosotros.html"> Mas de nosotros </a>
                <a href="contacto.html"> Contactenos </a>
            </nav>
        </div>
    </div>

    <main class="contenedor seccion">
        <h1>Productos</h1>
        <p>Para solicitar una cotizacion escribanos a los <a href="contacto.html" class="enlaces-redirecionales">numeros de contacto y correo</a></p>
        <div class="contenedor-items seccion">
            <div class="item">
                <img src="img/productos/patch-cord-sc-to-sc-duplex.jpg" alt="">
                <div class="contenedor-especificaciones">
                    <h3 class="center">Patch Cord SC/SC Duplex</h3>
                    <p>Precio: <span>20$</span></p>
                </div>
            </div>
            <div class="item">  
                <img src="img/productos/patch-cord-sc-to-sc-simplex.jpg" alt="">
                <div class="contenedor-especificaciones">
                    <h3 class="center">Patch Cord SC/SC Simplex</h3>
                    <p>Precio: <span>20$</span></p>
                </div>
            </div>
            <div class="item">  
                <img src="img/productos/patch-cord-lc-to-lc-duplex.jpg" alt="">
                <div class="contenedor-especificaciones">
                    <h3 class="center">Patch Cord LC/LC Duplex</h3>
                    <p>Precio: <span>20$</span></p>
                </div>
            </div>
            <div class="item">  
                <img src="img/productos/patch-cord-lc-to-lc-simplex.jpg" alt="">
                <div class="contenedor-especificaciones">
                    <h3 class="center">Patch Cord LC/LC Simplex</h3>
                    <p>Precio: <span>20$</span></p>
                </div>
            </div>
            <div class="item">
                <img src="img/productos/patch-cord-st-to-st-duplex.jpg" alt="">
                <div class="contenedor-especificaciones">
                    <h3 class="center">Patch Cord ST/ST Duplex</h3>
                    <p>Precio: <span>20$</span></p>
                </div>
            </div>
            <div class="item">  
                <img src="img/productos/patch-cord-st-to-st-simplex.jpg" alt="">
                <div class="contenedor-especificaciones">
                    <h3 class="center">Patch Cord ST/ST Simplex</h3>
                    <p>Precio: <span>20$</span></p>
                </div>
            </div>
            <div class="item">
                <img src="img/productos/patch-cord-sc-to-lc-duplex.jpg" alt="">
                <div class="contenedor-especificaciones">
                    <h3 class="center">Patch Cord SC/LC Duplex</h3>
                    <p>Precio: <span>20$</span></p>
                </div>
            </div>
            <div class="item">
                <img src="img/productos/patch-cord-sc-to-lc-simplex.jpg" alt="">
                <div class="contenedor-especificaciones">
                    <h3 class="center">Patch Cord SC/LC Simplex</h3>
                    <p>Precio: <span>20$</span></p>
                </div>
            </div>
            <div class="item">
                <img src="img/productos/patch-cord-sc-to-st-duplex.jpg" alt="">
                <div class="contenedor-especificaciones">
                    <h3 class="center">Patch Cord SC/ST Duplex</h3>
                    <p>Precio: <span>20$</span></p>
                </div>
            </div>
            <div class="item">
                <img src="img/productos/patch-cord-sc-to-st-simplex.jpg" alt="">
                <div class="contenedor-especificaciones">
                    <h3 class="center">Patch Cord SC/ST Simplex</h3>
                    <p>Precio: <span>20$</span></p>
                </div>
            </div>
            <div class="item">
                <img src="img/productos/patch-cord-lc-to-st-duplex.jpg" alt="">
                <div class="contenedor-especificaciones">
                    <h3 class="center">Patch Cord LC/ST Duplex</h3>
                    <p>Precio: <span>20$</span></p>
                </div>
            </div>
            <div class="item">
                <img src="img/productos/patch-cord-lc-to-st-simplex.jpg" alt="">
                <div class="contenedor-especificaciones">
                    <h3 class="center">Patch Cord LC/ST Simplex</h3>
                    <p>Precio: <span>20$</span></p>
                </div>
            </div>
        </div>
    </main>

    <footer class="site-footer">
        <div class="contenedor-footer contenedor">
            <p class="copyright">&copy; 2020 <span>Inversiones Vielma 2020</span>. Todos los derechos reservados </p>
        </div>
    </footer>
    
</body>
</html> -->