<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inversiones Vielma</title>
    <%- include ('partials/links.ejs')%>
</head>
<body>
    <%- include ('partials/header.ejs')%>

    <main class="container">
        <h1>Productos</h1>
        <p>Para solicitar una cotizacion escribanos a los <span><a href="contacto.html" class="enlaces-redirecionales">numeros de contacto y correo</a></span></p>
        <div class="contenedor-items">
            <div class="card" style="width: 18rem;">
                <img src="img/productos/patch-cord-sc-to-sc-duplex.jpg" alt="">
                <div class="card-body">
                    <h5 class="card-title">Patch Cord SC/SC Duplex</h3>
                    <p class="card-text">Precio: <span>20$</span></p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">  
                <img src="img/productos/patch-cord-sc-to-sc-simplex.jpg" alt="">
                <div class="card-body">
                    <h5 class="card-title">Patch Cord SC/SC Simplex</h3>
                    <p class="card-text">Precio: <span>20$</span></p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">  
                <img src="img/productos/patch-cord-lc-to-lc-duplex.jpg" alt="">
                <div class="card-body">
                    <h5 class="card-title">Patch Cord LC/LC Duplex</h3>
                    <p class="card-text">Precio: <span>20$</span></p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">  
                <img src="img/productos/patch-cord-lc-to-lc-simplex.jpg" alt="">
                <div class="card-body">
                    <h5 class="card-title">Patch Cord LC/LC Simplex</h3>
                    <p class="card-text">Precio: <span>20$</span></p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="img/productos/patch-cord-st-to-st-duplex.jpg" alt="">
                <div class="card-body">
                    <h5 class="card-title">Patch Cord ST/ST Duplex</h3>
                    <p class="card-text">Precio: <span>20$</span></p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">  
                <img src="img/productos/patch-cord-st-to-st-simplex.jpg" alt="">
                <div class="card-body">
                    <h5 class="card-title">Patch Cord ST/ST Simplex</h3>
                    <p class="card-text">Precio: <span>20$</span></p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="img/productos/patch-cord-sc-to-lc-duplex.jpg" alt="">
                <div class="card-body">
                    <h5 class="card-title">Patch Cord SC/LC Duplex</h3>
                    <p class="card-text">Precio: <span>20$</span></p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="img/productos/patch-cord-sc-to-lc-simplex.jpg" alt="">
                <div class="card-body">
                    <h5 class="card-title">Patch Cord SC/LC Simplex</h3>
                    <p class="card-text">Precio: <span>20$</span></p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="img/productos/patch-cord-sc-to-st-duplex.jpg" alt="">
                <div class="card-body">
                    <h5 class="card-title">Patch Cord SC/ST Duplex</h3>
                    <p class="card-text">Precio: <span>20$</span></p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="img/productos/patch-cord-sc-to-st-simplex.jpg" alt="">
                <div class="card-body">
                    <h5 class="card-title">Patch Cord SC/ST Simplex</h3>
                    <p class="card-text">Precio: <span>20$</span></p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="img/productos/patch-cord-lc-to-st-duplex.jpg" alt="">
                <div class="card-body">
                    <h5 class="card-title">Patch Cord LC/ST Duplex</h3>
                    <p class="card-text">Precio: <span>20$</span></p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="img/productos/patch-cord-lc-to-st-simplex.jpg" alt="">
                <div class="card-body">
                    <h5 class="card-title">Patch Cord LC/ST Simplex</h3>
                    <p class="card-text">Precio: <span>20$</span></p>
                </div>
            </div>
        </div>
    </main>
    
    <%- include ('partials/footer.ejs')%>

    <%- include ('partials/scripts.ejs')%>
</body>
</html>