<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inversiones Vielma</title>
    <%- include ('partials/links.ejs')%>
</head>
<body>
    <%- include ('partials/header.ejs')%>

    <main class="servicios">
        <div class="row fibra-optica">
            <div class="col-12 col-md-6" style="background-color: red;">
                <img src="img/acometidas.jpg" alt="Instalacion">
            </div>
            <div class="col-12 col-md-6 pt-4 pb-4 text-center contenido-fibra-optica">
                <h2>Fibra Optica</h2>
                <ul>
                    <li>Acometidas</li>
                    <li>Fusion de Fibra</li>
                    <li>Instalacion de ODF y Pistail (Patch Cord)</li>
                    <li>Medicion de ganancia y perdida (Power Meter)</li>
                </ul>
            </div>
        </div>

        <div class="row obra-civil">
            <div class="col-12 col-md-6">
                <img src="img/primer-plano-construccion-sitio-excavador_1112-1223.jpg" alt="Instalacion" style="width: 100%;">
            </div>
            <div class="col-12 col-md-6 pt-4 pb-4 text-center contenido-obra-civil">
                <h2>Obra Civil</h2>
                <ul>
                    <li>Zanjado</li>
                    <li>Limpieza de tanquillas</li>
                    <li>Reparacion de tanquillas</li>
                </ul>
            </div>
        </div>

        <div class="row desarrollo-web">
            <div class="col-12 col-md-6">
                <img src="img/concepto-diseno-web-dibujos_1134-77.jpg" alt="Instalacion">
            </div>
            <div class="col-12 col-md-6 pt-4 pb-4 text-center contenido-desarrollo-web">
                <h2>Desarrollo Web</h2>
                <p>Diseñamos tambien paginas web para su negocio, con todas las caracteristicas que quieran. Tenemos conocimiento de las siguiente tecnologicas</p>
                <ul>
                    <li>HTML</li>
                    <li>css</li>
                    <li>Responsive Design</li>
                    <li>Java Script</li>
                    <li>Node JS</li>
                    <li>React</li>
                    <li>Expres JS</li>
                </ul>
                <p>Todo lo necesario para desarrollar una pagina web de calidad</p>
            </div>
        </div>
    </main>
    
    <%- include ('partials/footer.ejs')%>

    <%- include ('partials/scripts.ejs')%>
</body>
</html>