<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inversiones Vielma</title>
    <%- include ('partials/links.ejs')%>
</head>
<body>
    <%- include ('partials/header.ejs')%>

    <main class="servicios">
        <div class="row fibra-optica">
            <div class="col-12 col-md-6 pr-0 pl-0">
                <img src="https://i.ibb.co/Qn85zYm/acometidas.jpg" alt="acometidas">
            </div>
            <div class="col-12 col-md-6 pt-4 pb-4 pr-0 pl-0 text-center contenido-fibra-optica">
                <h2>Fibra Optica</h2>
                <p>Acometidas e intalaciones de alta calidad, sin importar que el entorno sea complejo buscaremos una solucion para la mejor implementacion</p>
                <ul>
                    <li>Acometidas</li>
                    <li>Fusion de Fibra</li>
                    <li>Instalacion de ODF y Pistail (Patch Cord)</li>
                    <li>Medicion de ganancia y perdida (Power Meter)</li>
                </ul>
            </div>
        </div>

        <div class="row obra-civil">
            <div class="order-md-2 col-12 col-md-6 pr-0 pl-0">
                <img src="https://i.ibb.co/K5wLgLM/primer-plano-construccion-sitio-excavador-1112-1223.jpg" alt="primer-plano-construccion-sitio-excavador-1112-1223">
            </div>
            <div class="order-md-1 col-12 col-md-6 pt-4 pb-4 pr-0 pl-0 text-center contenido-obra-civil">
                <h2>Obra Civil</h2>
                <p>Tenemos un alto desempeño en cualquier percance que se presente en la ejecucion del trabajo, solucionamos de manera eficaz y rapida</p>
                <ul>
                    <li>Zanjado</li>
                    <li>Limpieza de tanquillas</li>
                    <li>Contruccion de tanquillas</li>
                    <li>Reparacion de tanquillas</li>
                </ul>
            </div>
        </div>

        <div class="row desarrollo-web">
            <div class="col-12 col-md-6 pr-0 pl-0">
                <img src="https://i.ibb.co/k9vtb03/concepto-diseno-web-dibujos-1134-77.jpg" alt="concepto-diseno-web-dibujos-1134-77">
            </div>
            <div class="col-12 col-md-6 pt-4 pb-4 text-center pr-0 pl-0 contenido-desarrollo-web">
                <h2>Desarrollo Web</h2>
                <p>Diseñamos paginas web para su empresa starup, con todas las caracteristicas que quieran. Tenemos conocimiento de las siguiente tecnologicas</p>
                <ul>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>Responsive Design</li>
                    <li>Java Script</li>
                    <li>Node JS</li>
                    <li>React</li>
                    <li>Express JS</li>
                </ul>
                <p>Todo lo necesario para desarrollar una pagina web de calidad</p>
            </div>
        </div>
    </main>
    
    <%- include ('partials/footer.ejs')%>

    <%- include ('partials/scripts.ejs')%>
</body>
</html>