:root {
    --primario:rgb(52, 58, 64);
    --secundario: #17a2b8;
    --terciario: #f0932b;
}
span a {
    text-decoration: none;
    color: var(--secundario);
}
img {
    width: 100%;
}
ul {
    padding: 0;
    list-style: none;
    text-align: center;
}
span {
    color: var(--secundario);
}
.hero {
    background-image: url(../img/persona-que-muestra-probador-fibra-optica.jpg);
    background-position: center center;
    background-size: cover;
    height: 25vh;
    min-height: 70vh;
}
.logotipo-principal {
    max-width: 600px;
}
.navbar-inversiones li > a {
    color: var(--secundario) !important;
    /* border: solid 1px #17a2b8;
    border-radius: .25rem;
    padding: 6px 12px;
    margin-right: 8px; */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.navbar-inversiones li > a:hover {
    color: white !important;
    background-color: var(--secundario);
}
.clientes {
    background-color: rgb(0, 173, 239);
}
.site-footer {
    background-color: var(--primario);
    box-shadow: 2px 2px 5px black;
    position: absolute;
    padding: 10px 0;
    width: 100%;
    color: white;
}
.servicios img {
    height: 300px;
    width: 100%;
}
@media (min-width: 768px) {
    .servicios img {
        height: 450px;
    }
}
/* .contenido-obra-civil {
    background-color: rgb(0, 173, 239);
} */
.productos img {
    height: 250px;
}
/** Productos **/ /*acomodar un poco, simplificar*/
.contenedor-items {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.card {
    width: 100%;
    border: .1rem solid #b5b5b5;
    margin-bottom: 2rem;
}
.card img {
    height: 250px;
}
.card:hover {
    box-shadow: 2px 2px 5px black;
}
.card-body {
    text-transform: uppercase;
}
@media screen and (min-width: 768px) {
    .contenedor-items {
        justify-content: space-between;
        flex-direction: row;
    }
}