<footer class="site-footer">
    <div class="container">
        <p class="copyright">&copy; 2020 <span>Inversiones Vielma 2020 </span> J-500420617. Todos los derechos reservados </p>
    </div>
</footer>