<header>
    <div class="hero">
        <div class="contenedor-hero">
            <img class="logotipo-principal" src="img/logotipoBlanco.svg" alt="logotipo">
        </div>
    </div>


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-inversiones">
        <div class="container text-center">
            <a class="navbar-brand" href="#">
                <img class="logo-nav" src="/img/logotipoBlanco.svg" style="height: 60px;" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="index">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="servicios">Servicios</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="productos.html">Productos</a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link" href="nosotros">Mas de Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contacto">Contactenos</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>